@import '../../../style/_global'

.texnology
    margin-bottom: 67px
    h2
        @include heading2()
        text-align: center
        margin-bottom: 50px

    .texnology_cards
        display: flex
        align-items: center
        flex-wrap: wrap
        gap: 25px 30px
        width: 910px
        margin: auto

        .card
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            width: 205px
            height: 127px
            border: 1px solid $borderColor
            background: transparent
            gap: 10px

            .card_title
                @include blackText()


//  media query
@media (max-width: 1300px)

@media (max-width: 1199px)

@media (max-width: 991px)
    .texnology 
        h2
            font-size: 18px
            margin-bottom: 24px
        .texnology_cards
            
            gap: 20px 29px
            width: 100%
            .card
                width: 153px
                height: 100px


@media (max-width: 767px)